/* Color palette color-picked from an image created by the Orion's Arm Universe Project (I can't find the original, but look up Peshay Studio Set on Youtube! Good mix with good art) */

body {
    background-color: #26212b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    margin-bottom: 50px;
    box-shadow: 0 0 10px #7d7285
}

#main {
    background-color: #d1a9b2;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem;
    color: #eae9f9;
}

h2 {
    font-size: 2rem;
    text-align:center;
    padding: 1.5rem;
}

h3 {
    font-size: 2rem;
    text-align:center;
    padding: 1.5rem;
    color: #eae9f9;
}

p {
    font-size: 1.125rem;
    padding: 1.125rem
}

ul {
    font-size: 1.125rem;
    padding: 1.125rem
}

ul li {
    padding: 10px
}

form {
    margin: 0 auto;
    background: #9494dc;
    box-sizing: border-box;
    max-width: 400px;
    padding: 2rem 2rem;
    box-shadow: 0 0 15px #7d7285
  }

label {
	display: inline-block;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%
}

.checkLabel {
    font-weight: normal !important;
}

textarea, button {
    width: 97%;
  }

input[type=text], input[type=email] {
    width: 90%
}

.button {
    display: block;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Media Queries */
@media (min-width: 600px) {
	form {
		max-width: 500px;
	}
	
	#main {
		padding: 15px;
	}
	
	h2 {
		font-size: 2.5rem;
	}

    textarea, button {
        padding: 10px
      }
    
	
	}

@media (min-width: 1080px) {
    form {
        max-width: 800px;
    }
    
    main {
        max-width: 800px;
        padding: 15px;
    }
    
    h2 {
        font-size: 3rem;
    }

    textarea, button {
        padding: 15px
      }
    
    
    }

/* Glow effect */
#signupForm {
    transition: box-shadow 0.5s ease-in-out;
}
 
.glow {
    box-shadow: 0 0 50px  #d1a9b2 !important;
}