/* Color palette color-picked from an image created by the Orion's Arm Universe Project (I can't find the original, but look up Peshay Studio Set on Youtube! Good mix with good art) */

body {
    background-color: #26212b;
    font-family: Inter, Open Sans, sans-serif;
}

#main {
    background-color: #d1a9b2;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem;
    color: #eae9f9;
    /* Padding here is temporary solution. In the future I'll try to put this header in an image rather than leading the page. */
}

h2 {
    font-size: 2rem;
    text-align:center;
    padding: 1.5rem;
}

h3 {
    font-size: 2rem;
    text-align:center;
    padding: 1.5rem;
    color: #eae9f9;
}

p {
    font-size: 1.125rem;
    padding: 1em
}

ul {
    font-size: 1.125rem;
    padding: 1em
}

form {
    margin: 0 auto;
    background: #9494dc;
    box-sizing: border-box;
    max-width: 400px;
    padding: 2rem 2rem;
    box-shadow: 0 0 10px #7d7285
  }

label {
	display: block;
	padding: 5px;
}

button {
    display: block;
    padding: 5px;
    text-align: center;
    
}

/* Media Queries */
@media (min-width: 600px) {
	form {
		max-width: 400px;
	}
	
	main {
		max-width: 800px;
		padding: 15px;
	}
	
	h2 {
		font-size: 2rem;
	}
	
	}